<html>
    <head>
        <title>Rent Prediction</title>
        <link href={{url_for('static',filename="css/normalize.css")}} rel="stylesheet" type="text/css">
        <link href={{url_for('static',filename="css/style.css")}} rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{url_for('static',filename="js/region.js")}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename="js/requestRent.js")}}"></script>

    </head>
    <div>
        <div class="wrapper">
            <div class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-xs-12 title-container">
                            <div>
                                <h1 class="title-container__title">Rent Predictor</h1>
                                <p class="title-container__subtitle">ML based House Rent Predictor in GTA,Canada</p>
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12 form-container">
                            <form>
                                <!-- First 3-->
                                <div class="formX">
                                <div class="col-md-4 col-xs-12">
                                <h3 class="menu-heading">Unit Type</h3>
                                <select id="unit-dropdown" class="mdb-select md-form">
                                        <option value="" disabled selected>Choose one</option>                                          
                                        <option value="0">Apartment</option>
                                        <option value="1">Basement</option>
                                        <option value="2">Condo</option>
                                        <option value="3">Duplex/Triplex</option>
                                        <option value="4">House</option>
                                        <option value="5">Townhouse</option>
                                </select></div>

                                <div class="col-md-4 col-xs-12">
                                <h3 class="menu-heading">Bedrooms</h3>
                                <select id="bed-dropdown" class="mdb-select md-form">
                                        <option value="" disabled selected>Choose one</option>                                          
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                </select></div>

                                <div class="col-md-4 col-xs-12">
                                    <h3 class="menu-heading">Bathrooms</h3>
                                    <select id="bath-dropdown" class="mdb-select md-form">
                                        <option value="" disabled selected>Choose one</option>                                          
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                </select>
                                </div>
                            </div>

                            <!-- Second Row-->

                            <div class="formX">
                                    <div class="col-md-4 col-xs-12">
                                    <h3 class="menu-heading">Petfriendly</h3>
                                    <select id="pet-dropdown" class="mdb-select md-form">
                                            <option value="" disabled selected>Choose one</option>                                          
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                    </select></div>
    
                                    <div class="col-md-4 col-xs-12">
                                    <h3 class="menu-heading">Furnished</h3>
                                    <select id="fur-dropdown" class="mdb-select md-form">
                                            <option value="" disabled selected>Choose one</option>                                          
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                    </select></div>
    
                                    <div class="col-md-4 col-xs-12">
                                            <h3 class="menu-heading">Parking</h3>
                                            <select id="par-dropdown" class="mdb-select md-form">
                                                <option value="" disabled selected>Choose one</option>                                          
                                                <option value="0">No</option>
                                                <option value="1">Yes</option>
                                        </select>
                                    </div>
                            </div>

                            <!-- Third Row-->

                            <div class="formX">
                                    <div class="col-md-4 col-xs-12">
                                    <h3 class="menu-heading">Airconditioning</h3>
                                    <select id="air-dropdown" class="mdb-select md-form">
                                            <option value="" disabled selected>Choose one</option>                                          
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                    </select></div>
    
                                    <div class="col-md-4 col-xs-12">
                                    <h3 class="menu-heading">Smoking</h3>
                                    <select id="smo-dropdown" class="mdb-select md-form">
                                            <option value="" disabled selected>Choose one</option>                                          
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                    </select></div>
    
                                    <div class="col-md-4 col-xs-12">
                                            <h3 class="menu-heading">Region</h3>
                                            <select id="selectRegion" class="mdb-select md-form">
                                                <option value="" disabled selected>Choose one</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pedict_btn">
                                <button type="button" type="submit" class="go-btn btn btn-primary btn-rounded btn-lg">Predict Now</button>
                            </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{url_for('static',filename="js/region.js")}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename="js/requestRent.js")}}"></script>

</html>