<html>
    <head>
        <title>Rent Prediction</title>
        <link href={{url_for('static',filename="css/normalize.css")}} rel="stylesheet" type="text/css">
        <link href={{url_for('static',filename="css/style.css")}} rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <div>
        <div class="wrapper">
            <div class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-xs-12 title-container">
                            <div>
                                <h1 class="title-container__title">Rent Predictor</h1>
                                <p class="title-container__subtitle">ML based House Rent Predictor in GTA,Canada</p>
                            </div>
                        </div>
                        <div class="col-md-7 form-container">
                            <h1>hiii</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>