<html>
    <head>
        <meta charset="utf-8">
        <title>Rent Predictor</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href={{url_for('static',filename="css/normalize.css")}} rel="stylesheet" type="text/css">
        <link href={{url_for('static',filename="css/newSTyle.css")}} rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{url_for('static',filename="js/region.js")}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename="js/requestRent.js")}}"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script type="text/javascript">
            var rents = {{ rents|tojson }}
            var cities = {{ cities|tojson }}
            var predictedRent = {{ predicted|tojson }}
        </script>
    </head>

    <body>

        <div class="wrapper">
            <div class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-xs-12 title-container">
                            <div>
                                <h1 class="title-container__title">Rent Predictor</h1>
                                <p class="title-container__subtitle">ML based House Rent Predictor in Ontario,Canada</p>
                            </div>
                        </div>

                        <div class="col-md-7 col-xs-12 form-container">
                            <form method=POST action="{{ url_for('home') }}">
                                    <div class="form-bg">
                                        <div class="col-md-12 col-xs-12">
                                            <div>

                                                    <div class="row features">
                            
                                                            <p class="features-list">unit type : </p>
                                                            <p  id="unit" class="features-list" >xx</p>
                                                            <p class="features-list">Bedrooms : </p>
                                                            <p  id="bed" class="features-list" >xx</p>
                                                            <p class="features-list">Bathrooms : </p>
                                                            <p  id="bath" class="features-list" >xx</p>
                                                    </div>
                                                        <div class="row features">
                                                                <p class="features-list">Pet Friendly : </p>
                                                                <p  id="pet" class="features-list" >xx</p>
                                                                <p class="features-list">Furnished : </p>
                                                                <p  id="fur" class="features-list" >xx</p>
                                                                <p class="features-list">Parking : </p>
                                                                <p  id="par" class="features-list" >xx</p>
                                                        </div>
                                                        <div class="row features">
                                                                <p class="features-list">Airconditioning : </p>
                                                                <p  id="air" class="features-list" >xx</p>
                                                                <p class="features-list">Smoking : </p>
                                                                <p  id="smo" class="features-list" >xx</p>
                                                                <p class="features-list">Region : </p>
                                                                <p  id="region" class="features-list" >xx</p>
                                                        </div>


                                                <h1 class="rentValue">{{ rent }}</h1>
                                                <button type="submit" class="go-btn btn btn-primary btn-rounded btn-lg">Go Back</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>

                    <!--Predicted cities-->
                    <div class="row">
                        <div id="chartContainer" class="col-md-12 col-xs-12 price-graph">

                        </div>
                </div>

                </div>
            </div>
        </div>


    </body>


    <script>
        var unit=localStorage.getItem("unit");
        document.getElementById('unit').innerHTML = unit
        var bed=localStorage.getItem("bed");
        document.getElementById('bed').innerText = bed
        var bath=localStorage.getItem("bath");
        document.getElementById('bath').innerText = bath
        var pet=localStorage.getItem("pet");
        document.getElementById('pet').innerText = pet
        var fur=localStorage.getItem("fur");
        document.getElementById('fur').innerText = fur
        var par=localStorage.getItem("par");
        document.getElementById('par').innerText = par
        var air=localStorage.getItem("air");
        document.getElementById('air').innerText = air
        var smo=localStorage.getItem("smo");
        document.getElementById('smo').innerText = smo
        var region=localStorage.getItem("region");
        document.getElementById('region').innerText = region

    </script>  

    <script type="text/javascript" src="{{url_for('static',filename="js/barchart.js")}}">
    </script>

    <script type="text/javascript" src="{{url_for('static',filename="js/region.js")}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename="js/requestRent.js")}}"></script>

</html>