<html>
    <head>
        <meta charset="utf-8">
        <title>Rent Predictor</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href={{url_for('static',filename="css/normalize.css")}} rel="stylesheet" type="text/css">
        <link href={{url_for('static',filename="css/newSTyle.css")}} rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{url_for('static',filename="js/region.js")}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename="js/requestRent.js")}}"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script type="text/javascript">
            var rents = {{ rents|tojson }}
            var cities = {{ cities|tojson }}
            var predictedRent = {{ predicted|tojson }}
        </script>
    </head>

    <body>

        <div class="wrapper">
            <div class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-xs-12 title-container">
                            <div>
                                <h1 class="title-container__title">Rent Predictor</h1>
                                <p class="title-container__subtitle">ML based House Rent Predictor in Ontario,Canada</p>
                            </div>
                        </div>

                        <div class="col-md-7 col-xs-12 form-container">
                            <form method=POST action="{{ url_for('home') }}">
                                    <div class="form-bg">
                                        <div class="col-md-12 col-xs-12">
                                            <div>
                                                <h1 class="rentValue">{{ rent }}</h1>
                                                <button type="submit" class="go-btn btn btn-primary btn-rounded btn-lg">Go Back</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>

                    <!--Predicted cities-->
                    <div class="row">
                        <div id="chartContainer" class="col-md-12 col-xs-12 price-graph">

                        </div>
                </div>

                </div>
            </div>
        </div>


    </body>

    <script type="text/javascript" src="{{url_for('static',filename="js/barchart.js")}}">
    </script>

    <script type="text/javascript" src="{{url_for('static',filename="js/region.js")}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename="js/requestRent.js")}}"></script>

</html>